@import "tailwindcss";
:root {
  --font-family: 'Inter', system-ui, sans-serif;

  --color-bg: #1e1b4b;

  --color-text: #191146;
  --color-accent: #1c0e3b;
  --color-accent-hover: #7c3aed;
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.dark {
  --color-bg: #1e1b4b;
  --color-text: #1e1547;
  --color-accent: #c084fc;
  --color-accent-hover: #a855f7;


}
