@import "tailwindcss";
:root {
  --font-family: 'Inter', system-ui, sans-serif;

  --color-bg: #1e1b4b;              

  --color-text: #3f337d;              
  --color-accent: #2d126b;          
  --color-accent-hover: #7c3aed;    
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.dark {
  --color-bg: #1e1b4b;              
  --color-text: #433489;           
  --color-accent: #c084fc;          
  --color-accent-hover: #a855f7;    

  background-color: var(--color-bg);
  color: var(--color-text);
}
